.main-nav {
    display: flex;   
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
    height: 70px;
}


.nav-logo-text, .nav-logo-text:hover {   
    color: #000000;
    font-size: 24px;
}

.btn-sair, .btn-sair:hover {     
    display: none; 
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 1px solid #000000;     
    border-radius: 10px;
    font-size: 14px;
    width: 100px;
    height: 30px;
}


