.movieDetails-container {
  display: flex;
  flex-direction: column;
  background-color: #525252;
  padding: 20px 10px;
}

.movie-container {
  display: flex;
  background-color: #6C6C6C;  
  padding: 20px;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
}

.movie-image-container {
  display: flex;  
 justify-content: center;
}

.movie-image-container img {
  width: 100%;
  height: 100%;
}

.card-movie-details {
  margin-top: 20px;
  margin-bottom: 15px;
}

.card-movie-details h4 {
  font-size: 20px;
  color: #ffffff;
}

.card-movie-details h5 {
  font-size: 16px;
  color: #ffc700;
}

.card-movie-details h6 {
  font-size: 14px;
  color: #ffffff;
}

.card-bottom-container {
  display: flex;
  flex-direction: column;
  border: solid 1px #E1E1E1;
  padding: 10px 20px 55px 15px;
  border-radius: 10px;
  padding: 13px;
}

.card-bottom-container h6 {
  text-align: justify;
  color: #9E9E9E !important;
}


@media (min-width: 768px) {
  .movie-image-container img {
    Width: 496px;
    Height:311px;
  }
}

@media (min-width: 992px) {
  .movie-container {
   flex-direction: row;    
  }
  .movie-image-container img {
    Width: 500px;
    Height:314px;
  }

.card-movie-details {
  margin-left: 40px;
}




}



